<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
      <li class="nav-link"><a href="{{ site.baseurl }}/" class="logo"><strong>Home</strong></a>
      <li class="nav-link"><a href="https://shanyouleo.github.io/research"><strong>Research</strong></a>
      <li class="nav-link"><a href="https://shanyouleo.github.io/about"><strong>About Me</strong></a>
      </ul>
    </nav>
  </div>
</header>


